header{
  display: flex;
  flex-direction: column;
  
  h3{
    margin-top: 1rem;
  }
  p{
    color: lightslategrey;
  }

  .choice-menu{
    cursor: pointer;
  }
  .local-choice, .server-choice{
    color: rgb(75, 75, 240);
    text-shadow:1px 1px 10px #fff, 0px 0px 1px #d40f0f;
    
  }
}